<!DOCTYPE html>
	<html>
		<head>
			<title>Juego</title>
			<meta charset='utf-8'>
			<link rel='stylesheet'type='text/css'href='../styles/estiladoJuego.css'/>
		</head>
		<body>
			<table border='2'>
				<tr>
					<td class='mar'>00</td>
					<td class='mar'>01</td>
					<td class='mar'>02</td>
					<td class='mar'>03</td>
					<td class='mar'>04</td>
					<td class='mar'>05</td>
					<td class='mar'>06</td>
					<td class='mar'>07</td>
					<td class='mar'>08</td>
					<td class='mar'>09</td>
				</tr>
				<tr>
					<td class='mar'>10</td>
					<td class='mar'>11</td>
					<td class='mar'>12</td>
					<td class='mar'>13</td>
					<td class='mar'>14</td>
					<td class='mar'>15</td>
					<td class='mar'>16</td>
					<td class='mar'>17</td>
					<td class='mar'>18</td>
					<td class='mar'>19</td>
				</tr>
				<tr>
					<td class='mar'>20</td>
					<td class='mar'>21</td>
					<td class='mar'>22</td>
					<td class='mar'>23</td>
					<td class='mar'>24</td>
					<td class='mar'>25</td>
					<td class='mar'>26</td>
					<td class='mar'>27</td>
					<td class='mar'>28</td>
					<td class='mar'>29</td>
				</tr>
				<tr>
					<td class='mar'>30</td>
					<td class='mar'>31</td>
					<td class='mar'>32</td>
					<td class='mar'>33</td>
					<td class='mar'>34</td>
					<td class='mar'>35</td>
					<td class='mar'>36</td>
					<td class='mar'>37</td>
					<td class='mar'>38</td>
					<td class='mar'>39</td>
				</tr>
				<tr>
					<td class='mar'>40</td>
					<td class='mar'>41</td>
					<td class='mar'>42</td>
					<td class='mar'>43</td>
					<td class='mar'>44</td>
					<td class='mar'>45</td>
					<td class='mar'>46</td>
					<td class='mar'>47</td>
					<td class='mar'>48</td>
					<td class='mar'>49</td>
				</tr>
				<tr>
					<td class='mar'>50</td>
					<td class='mar'>51</td>
					<td class='mar'>52</td>
					<td class='mar'>53</td>
					<td class='mar'>54</td>
					<td class='mar'>55</td>
					<td class='mar'>56</td>
					<td class='mar'>57</td>
					<td class='mar'>58</td>
					<td class='mar'>59</td>
				</tr>
				<tr>
					<td class='mar'>60</td>
					<td class='mar'>61</td>
					<td class='mar'>62</td>
					<td class='mar'>63</td>
					<td class='mar'>64</td>
					<td class='mar'>65</td>
					<td class='mar'>66</td>
					<td class='mar'>67</td>
					<td class='mar'>68</td>
					<td class='mar'>69</td>
				</tr>
				<tr>
					<td class='mar'>70</td>
					<td class='mar'>71</td>
					<td class='mar'>72</td>
					<td class='mar'>73</td>
					<td class='mar'>74</td>
					<td class='mar'>75</td>
					<td class='mar'>76</td>
					<td class='mar'>77</td>
					<td class='mar'>78</td>
					<td class='mar'>79</td>
				</tr>
				<tr>
					<td class='mar'>80</td>
					<td class='mar'>81</td>
					<td class='mar'>82</td>
					<td class='mar'>83</td>
					<td class='mar'>84</td>
					<td class='mar'>85</td>
					<td class='mar'>86</td>
					<td class='mar'>87</td>
					<td class='mar'>88</td>
					<td class='mar'>89</td>
				</tr>
				<tr>
					<td class='mar'>90</td>
					<td class='mar'>91</td>
					<td class='mar'>92</td>
					<td class='mar'>93</td>
					<td class='mar'>94</td>
					<td class='mar'>95</td>
					<td class='mar'>96</td>
					<td class='mar'>97</td>
					<td class='mar'>98</td>
					<td class='mar'>99</td>
				</tr>
			</table>
	    	<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
			<script type='text/javascript' src='../programs/juego.js'></script>
		</body>
	</html>