body
{
	background-image: url("../resources/images/mar3.jpg");
	background-size: cover;
}
table
{
	border-style:solid;
	border-color: black;
}
ol
{
	list-style-type: upper-roman;
}
h1
{
	color:#9696A1;
	border-color: black;
	font-size:48px;
	font-family:AR DESTINE;
	-webkit-text-stroke: 1px black;
}
caption
{
	color:#9696A1;
	border-color: black;
	font-family:AR DESTINE;
	background-color:#101565;
}
.mar
{
	font-size:20px;
	color:white;
	background-color:blue;
	background-image:url('../resources/images/marJue.jpg');
	background-size: cover;
	width:45px; 
	height:45px;
}
.tablero
{
	border-style:solid;
	border-color: black;
	font-size:10px;
	color:white;
	background-color:#101565;
	width:10px; 
	height:10px;
}
.right
{
	float:left;
	background-color:indigo;
}
#left
{
	border-style:solid;
	border-color: black;
	font-size:14px;
	font-family:AR DESTINE;
	float:left;
	color:white;
	background-image: url("../resources/images/radar.jpg");
	background-size: cover;
	background-position:center;
}
.ya
{
	background-color:red;
}
span
{
	background-color:yellow;
}